.one{
    margin-top: 20px;
}


.display-4{
    text-align: center;
}

.jumbotron{
    background-color: navy;
    color: whitesmoke;
}


#addAnimalButton:hover{
    background-color: navy;
    color: whitesmoke;

}

#addAnimalButton{
    background-color:whitesmoke ;
    color:navy ;
}


.animal-btn{
    margin: 3px;
}